@import url(http://fonts.googleapis.com/css?family=Ovo&v2);

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ovo', serif;
  text-align: center;
  font-size: 1.05em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  text-align: left;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 80px;
}

#post h1 {
  margin-top: 15px;
}

p {
  margin: 1em 0;
}

#home h1 a {
  text-decoration: none;
  color: #000;
}

.nav-previous {
  float: left;
  text-align: left;
  width:50%;
  margin: 10px 0;
  font-size: 0.7em;
}

.nav-next {
  float: left;
  text-align: right;
  width:50%;
  margin: 10px 0;
  font-size: 0.7em;
}

.nav-previous a, .nav-next a {
  color: #555;
}

.site {
  text-align: justify;
  width: 500px;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title a, .title a:visited {
  color: #a00;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.description {
  font-style: italic;
  font-size: 0.85em;
  text-align: right;
}

pre, code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

code {
  border: none;
}

footer {
  display: block;
  font-size: 0.6em;
  clear: both;
}
