@import url(http://fonts.googleapis.com/css?family=Ovo&v2);

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ovo', serif;
  text-align: center;
  font-size: 1.05em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  text-align: left;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 80px;
}

.rss {
  position: absolute;
  top: 20px;
  left: 50px;
}

#home.table-of-contents {
  text-align: left;
  margin: 3em 50px 2em 50px;
  line-height: 1.5em;
  padding: 0;
}

#home.table-of-contents .post {
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: no-wrap;
  vertical-align: top;
}

#home.table-of-contents h1 a:hover {
  text-decoration: underline;
}

.table-of-contents h1 {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: left;
}

.table-of-contents .description {
  font-size: 0.7em;
  color: #555;
  text-align: left;
  display: block;
}

#post h1 {
  margin-top: 15px;
  line-height: 1.1em;
}

p {
  margin: 1em 0;
}

#home h1 a {
  text-decoration: none;
  color: #000;
}

.nav-previous {
  float: left;
  text-align: left;
  width:50%;
  margin: 10px 0;
  font-size: 0.7em;
}

.nav-next {
  float: left;
  text-align: right;
  width:50%;
  margin: 10px 0;
  font-size: 0.7em;
}

.nav-previous a, .nav-next a {
  color: #555;
}

.site {
  text-align: justify;
  width: 500px;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title a, .title a:visited {
  color: #a00;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.description {
  font-style: italic;
  font-size: 0.85em;
  text-align: right;
}

pre, code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

code {
  border: none;
}

footer {
  display: block;
  font-size: 0.6em;
  clear: both;
}

/*books*/
#books2012 {}

#books2012 .book {
    display: inline-block;
    width: 235px;
    height: 330px;
    margin: 5px;
    padding: 0;
    vertical-align: top;
}

#books2012 .book > img {
    height: 200px;
    margin: auto;
    display: block;
}

#books2012 .book .title {
    font-size: 0.8em;
    padding: 7px;
    line-height: 1.3em;
    text-align: center;
}

#books2012 .book .author {
    font-size: 0.7em;
    text-align: center;
    font-style: italic;
}

#books2012 .book .title a {
    color: black;
    text-decoration: none;
}

#books2012 .book .title a:hover {
    text-decoration: underline;
}

#books2012 .book .related-articles {
    font-size: 0.7em;
    text-align: center;
}

img {
  max-width: 500px;
}

