---
layout: default
title: Personal Notes about Anything 
---

<div id="home">
    {% for post in site.posts %}
    <h1><a href="/notes/{{ post.url }}">{{ post.title }}</a></h1>
      {% if post.categories %}
      <div class="description">
        Posted in: 
        {% for cat in post.categories %}
          {% if forloop.index0 == 0 %}
          {{ cat }}
          {% else %}
          , {{ cat }}
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      {{ post.content }}
    {% endfor %}
</div>
