<!DOCTYPE html>
<html lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Nicolas Garcia Belmonte" />
   <link href='http://fonts.googleapis.com/css?family=Ovo&v2' rel='stylesheet' type='text/css'>
   <base href="http://philogb.github.com/notes/" />
   <link rel="shortcut icon" type="image/ico" href="/assets/blog.png" /> 
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, handheld" />
   <!--[if IE 6]>
   <style type="text/css">
    #post { overflow:hidden; }
   </style>
   <![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1601691-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div class="site">
  
  {{ content }}
  
  <footer>
    Copyright 2011 &copy; <a href="http://philogb.github.com/">Nicolas Garcia Belmonte</a>. 
    Unless otherwise specified, all content is <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA</a>.
  </footer>
</div>
</body>
</html>
